body {
  background-color: #E0D8B0;
}

/***TAG SELECTORS***/
h1 {
  color: #2f4f4f;
  font-size: 60px;
}

h3 {
  color: teal;
}

hr {
  background-color: red;
  border-style: none;
  border-width: 5px;
  height: 5px;
  width: 99%;
}

img {
  height: 300px;
  border-radius: 50%;
}

/***CLASS SELECTORS***/
/*
.jean{
  height: 300px;
  border-radius: 50%;
}
/*



/******ID SELECTORS********/

/*
#myname {color: blue;}
*/
